@font-face {
    font-family: "JejuMyeongjo-Regular.ttf" ;
    src: url(font/JejuMyeongjo-Regular.ttf);
}
@font-face {
    font-family: "GildaDisplay-Regular.ttf";
    src: url(font/GildaDisplay-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JejuMyeongjo-Regular.ttf";
}
body {
    background-color: #f4f4f4;
    color: #4F4F4F;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #4F4F4F;
}

.nav-left {
    display: flex;
    gap: 25px;
    font-size: 20px;
    margin-left: 80px;
}
.nav-left a {
    text-decoration: none;
    color: #4F4F4F;
}
.site-title {
    font-family: "GildaDisplay-Regular.ttf";
    font-weight: 100;
    font-size: 96px;
    text-align: center;
    flex-grow: 1;
    color: #4F4F4F;
}
.nav-right {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 80px;
}
.cart-icon {
    width: 24px;
    height: 24px;
    background-image: url('shop.svg'); 
    background-size: cover;
}
.nav-right a {
    text-decoration: none;
    color: #4F4F4F;
}
.btn-profile {
    background-color: transparent; /* Прозрачный фон */
    color: #967085; /* Цвет текста */
    border: 2px solid #967085; /* Розовая обводка */
    padding: 10px 20px; /* Отступы внутри кнопки */
    margin-top: 20px;
    font-size: 20px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    border-radius: 26px; /* Скругление углов */
    transition: all 0.3s ease; /* Анимация */
}
.btn-profile:hover {
    background-color: #967085; /* Фон кнопки при наведении */
    color: white; /* Цвет текста при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}
.btn-profile:active{
   transform: scale(0.95); /* Сжатие кнопки при нажатии */ 
}

.logout {
    color: #967085;
    cursor: pointer;
    text-decoration: underline;
}
section {
    display: flex;
    align-items: flex-start;
    padding: 40px 80px;
    gap: 60px;
}
.pb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.profile-image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.profile-image img {
    width: 100%;
    height: auto;
}
.change-photo-button {
    padding: 10px 20px;
    color: #967085;
    border: 1px solid #967085;
    border-radius: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.change-photo-button:hover {
    background-color: #967085;
    color: white;
}
.content {
    flex-grow: 1;
    display: flex;
    gap: 70px;
    background-color: #F4F4F4;
    padding: 30px;
    border-radius: 15px;
}
.block_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 300px;
}
.block_img > img {
    width: 70%;
}
p {
    font-size: 24px;
    text-align: center;
}
.block_inf {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
}
.label {
    display: flex;
    gap: 10px;
    align-items: center;
}
h3 {
    font-weight: 400;
    font-size: 16px;
}
.text-align, .telephon {
    padding: 0 20px;
    height: 50px;
    border: 0;
    box-shadow: 2px 8px 8px -2px rgba(34, 60, 80, 0.2);
    border-radius: 15px;
    width: 100%;
}
button {
    color: #967085;
    border: 1px solid #967085;
    padding: 10px;
    border-radius: 26px;
    height: 38px;
    width: auto;
    cursor: pointer;
}
button:hover {
    background-color: #967085;
    color: #fff;
}
.announcement {
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
}
.announcement-list {
    margin-top: 20px;
}

.btn-publish {
    padding: 10px 20px;
margin-left: 700px;
    background-color: #967085;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
}
.card {
    border: 1px solid #ccc;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card img {
    width: 100px;
    height: auto;
}
